.container {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        text-align: center;
}

.social {
        background-color: red;
        width: 33%;
        border-right: black;
        border-right-style: solid;
        border-right-width: 10px;
        /* margin: auto; */
}

.social ul {
        text-decoration: none;
}
.contact {
        background-color: yellow;
        width: 33%;
        border-right-style: solid;
        border-right-width: 10px;
}

.events {
        background-color: blue;
        width: 33%;
}
